<!-- wp:template-part {"slug":"header","tagName":"header","className":"flmm-site-header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","className":"flmm-main flmm-main--service","layout":{"type":"default"}} -->
<main id="main" class="wp-block-group flmm-main flmm-main--service"><!-- wp:group {"align":"full","className":"flmm-sv-crumbs","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull flmm-sv-crumbs"><!-- wp:flmm/breadcrumbs /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:flmm/contact /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"flmm-site-footer"} /-->
